

<div class="card" style="width: 18rem">
  <img [src]="foto" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">
      {{ nomeProduto | uppercase }} <!-- utilizando pipes -> só formata variavel -->
      <span *ngIf="promocao;else elseBlock" class="badge badge-success ">Promoção</span>
      <ng-template #elseBlock>
        <span class="badge badge-primary">Aproveite</span>
      </ng-template>

    </h5>
    <p class="card-text">Identificação: {{ idProduto | number:'2.0-0'}}<br><!--usando decimal pipe-->
  Validade : {{dataValidade | date :'shortDate'}} <!-- ou date : "dd/MM/yyy" -->
    </p>
    <a href="#" class="btn btn-primary float-right">{{precoProduto| currency:'BRL'}}</a>
  </div>
</div>

