<h1>Seja Bem vindo ao curso de Angular!</h1>

<h4 class="text-danger">{{ anuncio }}</h4>

<div class="row">
  <div class="col">
  <app-card-produto
  [foto]="foto"
  [nomeProduto]="nomeProduto"
  [promocao]="promocao"
  [idProduto]="idProduto"
  [dataValidade]="dataValidade"
  [precoProduto]="precoProduto"
></app-card-produto>
  </div>
  <div class="col">
<app-card-produto
  foto="https://static.euronews.com/articles/stories/05/91/95/88/1440x810_cmsv2_ce69b1ba-9c60-570e-a75f-8e406c3c7b41-5919588.jpg"
  nomeProduto="Viagem ao monte fuji"
  [promocao]="false"
  [idProduto]="15"
  dataValidade="2021-12-31"
  [precoProduto]="5434.00"
></app-card-produto>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img [src]="foto" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">
      {{ nomeProduto | uppercase }} <!-- utilizando pipes -> só formata variavel -->
      <span *ngIf="promocao;else elseBlock" class="badge badge-success ">Promoção</span>
      <ng-template #elseBlock>
        <span class="badge badge-primary">Aproveite</span>
      </ng-template>

